In [2]:
from impala.dbapi import connect
from impala.util import as_pandas
import pandas as pd
import pymysql
import xlwt
import re

ModuleNotFoundError: No module named 'impala'

In [3]:
def hive():
    cur = connect(host='192.168.0.252',port=10000,database='default').cursor()
    print('hive 连接成功')
    cur.execute("select agent_company,agent_name,agent_tell from dianpu_new")
    hive_data = as_pandas(cur) 
    cur.close()
    return hive_data

In [1]:
def rename_company(cp_name):
    if('菲斯特' in cp_name):
        cp_name = '菲斯特'
    elif('蓉投' in cp_name):
        cp_name = '蓉投地产'
    elif('卓为' in cp_name):
        cp_name = '卓为地产'
    elif('好房屋' in cp_name):
        cp_name = '好房屋'
    elif('积木时代' in cp_name):
        cp_name = '积木时代'
    elif('宏迈' in cp_name):
        cp_name = '宏迈'
    elif('好租科技' in cp_name):
        cp_name = '好租科技'
    elif('锦晨' in cp_name):
        cp_name = '锦晨房地产'
    elif('上好家佳' in cp_name):
        cp_name = '上好家佳'
    elif('德诚' in cp_name):
        cp_name = '德诚商业地产'
    elif('金琥珀' in cp_name):
        cp_name = '金琥珀地产'
    elif('诚信德' in cp_name):
        cp_name = '诚信德地产'
    elif('玖零时代' in cp_name):
        cp_name = '玖零时代地产'
    elif('大云合' in cp_name):
        cp_name = '大云合地产'
    elif('易多鑫' in cp_name):
        cp_name = '易多鑫房产'
    elif('尔东成' in cp_name):
        cp_name = '尔东成地产'
    elif('大唐' in cp_name):
        cp_name = '大唐房屋'
    elif('大兴业' in cp_name):
        cp_name = '大兴业房地产'
    elif('新地标' in cp_name):
        cp_name = '新地标地产'
    elif('世界树' in cp_name):
        cp_name = '世界树房地产'
    elif('中原' in cp_name):
        cp_name = '中原'
    elif('万兴合' in cp_name):
        cp_name = '万兴合地产'
    elif('满仓' in cp_name):
        cp_name = '满仓地产'
    elif('丰联' in cp_name):
        cp_name = '丰联房产'
    elif('众合' in cp_name):
        cp_name = '众合诚地产'
    elif('望麒' in cp_name):
        cp_name = '望麒房产'
    elif('领房' in cp_name):
        cp_name = '领房地产'
    elif('圣菲房产' in cp_name):
        cp_name = '圣菲房产'
    return cp_name

In [59]:
df = hive()

hive 连接成功

In [ ]:
 df['agent_company']=df['agent_company'].map(rename_company)

In [60]:
df.drop_duplicates(inplace=True)

In [63]:
df1 = df[df['agent_company']!='']

In [65]:
df2 =df1[df1['agent_name']!='']

In [67]:
df2.to_excel( r'D:/Excel/经纪人统计.xlsx',index=False)